.container {
  display: flex;
  .ordersWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-width: 160px;
    max-height: 200px;
    padding: 2px 8px;
    .imgOrder {
      width: 70px;
      height: 70px;
    }
    p {
        font-size: 14px;
        max-width: 80px;
        margin: 0;
        text-align: center;
    }
  }
}
