.basketOverlay {
  position: absolute;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;

  .basket {
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    height: 100%;
    width: 470px;
    border-radius: 1%;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 45px 35px;
    .basketContainer {
      display: flex;
      flex-direction: column;
    }

    h2 {
      margin: 0;
      font-size: 24px;
    }

    .buttonCloseBasket {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      cursor: pointer;
      padding: 0;
      background-color: #ffffff;
      border: none;
      opacity: 0.8;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
    }
    .basketItems {
      box-sizing: border-box;
      max-height: 960px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .basketItems::-webkit-scrollbar {
      background-color: #ffffff;
      width: 7px;
    }

    .basketItems::-webkit-scrollbar-thumb {
      background-color: #f2f2f2;
    }
  }

  .checkout {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    .total {
      li {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        div {
          flex: 1;
          border-bottom: 2px dashed #dfdfdf;
        }
      }
    }
    span {
      font-size: 20px;
      font-weight: 500;
    }
    b {
      font-size: 18px;
    }
    .checkoutButton {
      position: relative;
      margin-top: 20px;
      width: 100%;
      height: 45px;
      border: none;
      border-radius: 18px;
      background-color: #9dd558;
      cursor: pointer;
      color: #ffffff;
      font-size: 16px;
      transition: all 0.4s ease-in-out;
      &:hover {
        img {
          transform: translateX(4px);
        }
      }
      &:disabled {
        background-color: lighten(#8c8e89, 14%);
        &:hover {
          background-color: lighten(#8c8e89, 14%);
          cursor: default;
        }
      }
      img {
        position: absolute;
        top: 16px;
        right: 35px;
        transition: all 0.2s ease-in-out;
      }
      &:hover {
        transition: all 0.2s ease-in-out;
        background: lighten(#9dd558, 8%);
      }
      &:active {
        background: darken(#9dd558, 8%);
      }

      .loader {
        position: absolute;
        top: 7px;
        left: 95px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 5px dashed white;
        animation: rotate 4s infinite linear;
      }
      .loaderText {
        font-weight: 500;
        margin: 0;
        padding-left: 50px;
      }

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
