header {
  border-bottom: #eaeaea;
  p,
  h3 {
    margin: 0;
  }
  span {
    opacity: 0.55;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    transition: all 0.4s ease-in-out;

    &:hover {
      transform: scale(1.01);
      opacity: 1;
    }
  }

  .icons {
    background-color: #ffffff;
    opacity: 0.6;
    color: #ffffff;
    border: none;
    padding: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: 0.2s ease-out;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
  .currentIcons {
    background-color: #ffffff;
    opacity: 1;
    scale: 1.2;
    color: #ffffff;
    border: none;
    padding: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: 0.2s ease-out;
  }

  .cartPrice {
    font-size: 15px;
    text-align: center;
    align-items: center;
    cursor: pointer;
  }
}
